### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [78]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#Create a players list without duplicates
player_list=purchase_data["SN"].unique()

#Calculate length of list to determine total players
total_players=pd.DataFrame({'Total Players':[len(player_list)]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Run basic calculations to obtain number of unique items, average price, etc.
ID_items=purchase_data["Item ID"].unique()
unique_items=len(ID_items)
average_price=purchase_data["Price"].mean()
purchases=len(purchase_data["Purchase ID"])
total_revenue=purchase_data["Price"].sum()

#Create a summary data frame to hold the results 
purchasing_analysis=pd.DataFrame({'Number of Unique Items':[unique_items], 
            'Average Price':[average_price], 
            'Number of Purchases':[purchases],
            'Total Revenue':[total_revenue]})

#Give the displayed data cleaner formatting
purchasing_analysis=purchasing_analysis.style.format({'Average Price':"${:,.2f}", 'Total Revenue':"${:,.2f}"})

#Display the summary data frame
purchasing_analysis

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [64]:
#Create a dataframe that removes duplicate SN's and holds corresponding age and gender
players_gender_grouped=purchase_data.groupby(["SN"])
players_gender=players_gender_grouped["Gender"].min()
players_age=players_gender_grouped["Age"].min()
players_age_gender=pd.merge(players_age, players_gender, on="SN", how="outer")
players_age_gender

               Age  Gender
SN
Adairialis76    16    Male
Adastirin33     35  Female
Aeda94          17    Male
Aela59          21    Male
Aelaria33       23    Male
...            ...     ...
Yathecal82      20  Female
Yathedeu43      22    Male
Yoishirrala98   17  Female
Zhisrisu83      10    Male
Zontibe81       21    Male

[576 rows x 2 columns]

In [65]:
#Calculate gender demographics
gender=players_age_gender["Gender"].value_counts()
gender_count=players_age_gender["Gender"].count()

#Create dataframe that holds gender demographics
gender_demographics=pd.DataFrame({'Total Count':[gender[0],gender[1],gender[2]],
           'Percentage of Players':[((gender[0]/gender_count)*100), ((gender[1]/gender_count)*100), ((gender[2]/gender_count)*100)]},
           index=["Male", "Female", "Other/Non-Disclosed"])

#Cleaner formatting
gender_demographics=gender_demographics.style.format({'Percentage of Players':"{:,.2f}%"})

#Display dataframe
gender_demographics


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [66]:
#Create a dataframe that removes duplicate SN's and holds corresponding age and price
players_gender_grouped=purchase_data.groupby(["SN"])
players_gender=players_gender_grouped["Gender"].min()
players_price=players_gender_grouped["Price"].min()
players_age_price=pd.merge(players_price, players_gender, on="SN", how="outer")
players_age_price

#Calculate purchasing analysis (gender)
gender=players_age_gender["Gender"].value_counts()
gender1=purchase_data["Gender"].value_counts()
grouped_gender=purchase_data.groupby(["Gender"])
av_purchase_price=grouped_gender["Price"].mean()
total_purchase=grouped_gender["Price"].sum()

#Create dataframe holding purchasing analysis (gender)
gender_analysis=pd.DataFrame({'Purchase Count':[gender1[1],gender1[0],gender1[2]],
           'Average Purchase Price':[av_purchase_price[0], av_purchase_price[1], av_purchase_price[2]],
           'Total Purchase Value':[total_purchase[0], total_purchase[1], total_purchase[2]],
           'Average Total Purchase per Person':[total_purchase[0]/gender[1], total_purchase[1]/gender[0], total_purchase[2]/gender[2]]
           },
           index=["Female", "Male", "Other/Non-Disclosed"])

#Cleaner formatting
gender_analysis=gender_analysis.style.format({'Average Purchase Price':"${:,.2f}", 'Total Purchase Value':"${:,.2f}", 'Average Total Purchase per Person':"${:,.2f}"})

#Display dataframe
gender_analysis

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [67]:
#Catergorize players using age bins
bins=[0,9,14,19,24,29,34,39,150]
intervals=["<10", "10-14", "15-20", "20-24", "25-29", "30-34", "35-40", "40+"]
players_age_gender["Age Intervals"]=pd.cut(players_age_gender["Age"], bins, labels=intervals)
players_age_gender

               Age  Gender Age Intervals
SN
Adairialis76    16    Male         15-20
Adastirin33     35  Female         35-40
Aeda94          17    Male         15-20
Aela59          21    Male         20-24
Aelaria33       23    Male         20-24
...            ...     ...           ...
Yathecal82      20  Female         20-24
Yathedeu43      22    Male         20-24
Yoishirrala98   17  Female         15-20
Zhisrisu83      10    Male         10-14
Zontibe81       21    Male         20-24

[576 rows x 3 columns]

In [68]:
#Calculate total count by age group
players_age_gender=players_age_gender.groupby("Age Intervals")
interval_count=players_age_gender["Age Intervals"].value_counts()
interval_count

Age Intervals  Age Intervals
<10            <10               17
10-14          10-14             22
15-20          15-20            107
20-24          20-24            258
25-29          25-29             77
30-34          30-34             52
35-40          35-40             31
40+            40+               12
Name: Age Intervals, dtype: int64

In [74]:
age_demographics=pd.DataFrame({'Age Intervals':[players_age_gender["Age Intervals"],
                               'Total Count':[interval counts[2]], 
                               'Percentage of Players': [((players_age_gender[2]/total_players)*100)] })
age_demographics

SyntaxError: invalid syntax (<ipython-input-74-c26f7a9f58e5>, line 2)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [96]:
#Create a dataframe with each players purchase count and total purchase value 
layers_gender_grouped=purchase_data.groupby(["SN"])
players_ID=players_gender_grouped["Purchase ID"].count()
players_price=players_gender_grouped["Price"].sum()
players_ID_price=pd.merge(players_ID, players_price, on="SN", how="outer")

#Sort data by most spent
sorted_players_ID_price=players_ID_price.sort_values(by='Price', ascending=False)

#Select the top 5 
top_spenders=sorted_players_ID_price.iloc[0:5,0:2]

#Add average purchase price 
top_spenders["Average Purchase Price"]=top_spenders["Price"]/top_spenders["Purchase ID"]

#Format
top_spenders=top_spenders[["Purchase ID", "Average Purchase Price", "Price"]]
top_spenders=top_spenders.rename(columns={"Purchase ID":"Purchase Count", "Price":"Total Purchase Value"})
top_spenders=top_spenders.style.format({'Average Purchase Price':"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

#Display
top_spenders

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80